:root {
    --white: #fffafa;
}

footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    font-family: "Helvetica Neue", sans-serif;
    line-height: 2rem;
    text-align: center;
    background-color: #000000;
    color: #eeeeee;
    border-top: 7px solid #0044ff;
}

footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
    margin-top: 20px;
}

footer p {
    font-size: 0.7rem;
    font-weight: 300;
    line-height: 135%;
    text-align: center;
}



footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
}

a {
    color: var(--white);
}