footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    /* margin-top: 15px; */
    padding: 10px 0;
    background-color: var(--dark);
    width: 100%;
}

footer p {
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square Regular', sans-serif;
    font-size: 0.65rem;
    font-weight: 400;
    line-height: 175%;
    text-align: center;
    color: var(--creamer);
}

a {
    color: var(--creamer);
}

.breaker {
    display: block;
}

@media screen and (min-width: 500px) {
    .breaker {
        display: inline;
    }
}

@media screen and (min-width: 700px) {
    footer p {
        font-size: 0.9rem;
    }
}