:root {
    --white: #fffafa;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 0.7rem;
    margin-top: 15px;
    padding: 10px 0;
    background-color: #000000;
    border-top: 5px solid #0044ff;
}

footer p {
    font-family: -apple-system, BlinkMacSystemFont, 'Basier Square Regular', sans-serif;
    font-size: 0.7rem;
    font-weight: 400;
    line-height: 175%;
    text-align: center;
    color: var(--white);
}

a {
    color: var(--white);
}

.breaker {
    display: block;
}

@media screen and (min-width: 500px) {
    .breaker {
        display: inline;
    }
}

@media screen and (min-width: 700px) {
    footer p {
        font-size: 0.9rem;
    }
}