/* =================================== IMPORTS & ROOT */
/* =================================== IMPORTS & ROOT */

@import url('footer.css');

:root {
    --white: #fffafa;
    --dark: #000000;
    --creamer: #b6b6b6;
    --gold: #daa000;
    --bluegrey: #1D2D41;

    --deepocean: #071521;
    --coralink: #39444d;
    --mintbeach: #49A983;
    --silica: rgba(255, 255, 255, 0.54);
}

/* =================================== BODY PARTS */
/* =================================== BODY PARTS */

body {
    background-color: var(--deepocean);
    /* height: 98vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    color: black;
    overflow-x: hidden;
}

.container {
    padding: 10px 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.divider {
    width: 200;
    height: 2px;
    margin: 0 auto;
    background-color: var(--white);
    /* opacity: .70; */
}

/* =================================== TEXT */
/* =================================== TEXT */

h1, h2, h4, h6, p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* line-height: 0; */
    margin: 0;
}

h1, h2, h6 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    margin: 0;
}

h1 {
    color: var(--mintbeach);
    font-size: 2.7rem;
    letter-spacing: -0.02rem;
    /* line-height: 0; */
}



h6 {
    color: var(--silica);
    font-size: 0.65rem;
    font-weight: 500;
    margin: 0;
    /* margin-bottom: 5px; */
}


/* =================================== # HEADER */
/* =================================== # HEADER */

#header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#header {
    padding: 30px 0 50px 0;
}

form#locations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 40px;
    width: 100%;
    /* padding: 0px 0; */
}


















/* ============================================= //
// ============================================= //
// BODY PARTS
// ============================================= //
// ============================================= */


main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 90%;
    /* color: white; */
}

.atlanta {
    margin: 50px 20px;
}


/* ============================================= //
// ============================================= //
// INPUT & BUTTON
// ============================================= //
// ============================================= */


input {
    
    font-weight: 600;
    height: 25px;
    margin-bottom: 10px;
    outline: 0;
    padding: 5px 10px;


    background-color: var(--coralink);
    border: none;
    border-radius: 7px;
    color: var(--silica);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    height: 35px;
    text-align: center;
    width: 80%;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
}

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }


button {
    align-items: center;
    background-color: #ffffff00;
    border: 2px solid var(--mintbeach);
    border-radius: 20px;
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.8rem;
    font-weight: 500;
    height: 30px;
    justify-content: space-evenly;
    margin: 5px auto;
    outline: 0;
    width: 85px;
}

button:hover {
    background-color: var(--mintbeach);
}

/* ============================================= //
// ============================================= //
// ARROWS
// ============================================= //
// ============================================= */


.nav-arrow p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.25rem;
}

p {
    color: grey;
}




.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    padding: 0;
}

.arrow {
    width: 20px;
    height: 20px;
}

/* * {
    border: 1px solid springgreen;
} */




/* =================================== FORECASTS */
/* =================================== FORECASTS */

#cards div:first-of-type {
    display: flex;
}



#cards div:first-of-type {  
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    margin: 5px auto;
    width: 100%;
}

#cards div {
    display: none;
}



.duo {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    width: 95%;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.03rem;
    line-height: 100%;
    text-align: center;
    width: 100%;
    color: var(--silica);
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: -0.02rem;
    color: var(--silica);
    line-height: 90%;
}

.weather-icon {
    width: 100px;
    height: auto;
    filter: invert(100%);
}

.highlight {
    color: var(--mintbeach);
}