/* =================================== IMPORTS & ROOT */
/* =================================== IMPORTS & ROOT */

@import url('footer.css');

:root {
    --white: #fffafa;
    --dark: #000000;
    --creamer: #b6b6b6;
    --gold: #daa000;
    --bluegrey: #1D2D41;
}

/* =================================== BODY PARTS */
/* =================================== BODY PARTS */

body {
    background-color: var(--dark);
    /* height: 98vh; */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    color: black;
    overflow-x: hidden;
}

.container {
    padding: 10px 0;
    width: 100%;
}

.content {
    margin: 0 auto;
    width: 90%;
}

.divider {
    width: 30%;
    height: 1px;
    background-color: #191919;
}

/* =================================== TEXT */
/* =================================== TEXT */

h1, h2, h4, h6, p {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* line-height: 0; */
    margin: 0;
}

h1, h2, h6 {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-weight: 800;
    margin: 0;
}

h1 {
    color: var(--gold);
    font-size: 2.2rem;
    letter-spacing: -0.02rem;
    line-height: 0;
}



h6 {
    color: var(--creamer);
    font-size: 0.65rem;
    font-weight: 500;
    margin: 0;
    margin-bottom: 20px;
}


/* =================================== # HEADER */
/* =================================== # HEADER */

#header .content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

#header {
    background-color: var(--dark);
    padding: 30px 0 50px 0;
}

form#locations {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 50px;
    width: 100%;
}


















/* ============================================= //
// ============================================= //
// BODY PARTS
// ============================================= //
// ============================================= */


main {
    /* height: auto; */
    /* padding: 50px 0; */
    background-color: var(--dark);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    width: 100%;
    color: white;
    
}

.atlanta {
    margin: 50px 20px;
}


/* ============================================= //
// ============================================= //
// INPUT & BUTTON
// ============================================= //
// ============================================= */


input {
    background-color: #ffffff00;
    border: 3px solid var(--creamer);
    color: var(--white);
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 0.9rem;
    font-weight: 600;
    height: 30px;
    margin-bottom: 10px;
    outline: 0;
    padding: 5px 10px;
    width: 85%;
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    font-weight: 500;
}

input:focus::-webkit-input-placeholder { color: transparent; }
input:focus:-moz-placeholder { color: transparent; }


button {
    align-items: center;
    background-color: #ffffff00;
    border: 0;
    border-bottom: 3px solid var(--gold);
    color: var(--white);
    cursor: pointer;
    display: flex;
    flex-direction: row;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: 1rem;
    font-weight: 600;
    height: auto;
    justify-content: space-evenly;
    margin: 5px auto;
    outline: 0;
    padding: 5px;
    width: auto;
}

button:hover {
    background-color: var(--gold);
    color: #000000;
}

/* ============================================= //
// ============================================= //
// ARROWS
// ============================================= //
// ============================================= */


.nav-arrow p {
    font-family: "Helvetica Neue", sans-serif;
    font-size: 1.75rem;
}

p {
    color: grey;
}




.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.arrow {
    width: 40px;
    height: 40px;
}
/* 
* {
    border: 1px solid springgreen;
}
 */



/* =================================== FORECASTS */
/* =================================== FORECASTS */

#forecast-cards div {
    display: none;
}

#forecast-cards div:first-of-type {
    display: inline-block;
}

#forecast-cards {
    display: flex;
    flex-direction: row; 
    justify-content: center;
    align-items: center;
    width: 100%;
}

.card {
    display: flex;
    flex-direction: column; 
    justify-content: flex-start;
    align-items: center;
    margin: 20px auto;
    width: 100%;
}

.duo {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

h2 {
    font-size: 1.3rem;
    font-weight: 700;
    letter-spacing: -0.02rem;
    line-height: 100%;
}

h4 {
    font-size: 1.1rem;
    font-weight: 500;
}

.weather-icon {
    width: 80%;
    height: auto;
    margin-bottom: 40px;
    filter: invert(100%);
}